* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Custom Tags  */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #999;
  margin: 15px 0 20px 0;
}
body {
  width: 100%;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

/* Header like navbar*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #c0c7e2;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-family: 600;
  color: #222;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: purple;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: purple;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home page */

#hero {
  background-image: url("./Images/hero4.png");
  width: 100%;
  height: 90vh;
  padding: 0 80px;
  background-size: cover;
  background-position: top 25% right 0;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 7px;
}
#hero h1 {
  padding-bottom: 7px;
  color: rgb(236, 131, 236);
}
#hero button {
  background-image: url(./Images/button.png);
  background-color: transparent;
  color: #222;
  border: 0;
  padding: 10px 80px 10px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #e2d3d3;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 220, 0.1);
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 5px 8px 6px 8px;
  line-height: 1;
  background-color: rgb(176, 219, 244);
  border-radius: 4px;
  color: #443f3e;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(216, 117, 214);
  color: #443f3e;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(160, 216, 117);
  color: #443f3e;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(124, 192, 232);
  color: #443f3e;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(216, 117, 214);
  color: #443f3e;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(231, 114, 119);
  color: #443f3e;
}

/* Features products */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid lightgray;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
  margin: 15px 0;
  position: relative;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.09);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: skyblue;
  font-size: 15px;
}
#product1 .pro .des h5 {
  padding-top: 5px;
  color: darkgrey;
  font-size: 15px;
}
#product1 .pro .des i {
  font-size: 15px;
  color: lightcoral;
}
#product1 .pro .des h4 {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 900;
  color: lightslategrey;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  background-color: lightseagreen;
  border: 1px solid gray;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*  Repair Service*/
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(Images/Banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: white;
  font-size: 40px;
}
#banner h2 {
  color: white;
  font-size: 50px;
  padding: 10px 0;
}
#banner h2 span {
  color: red;
}

#banner button {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 3px;
}
#banner button:hover {
  background-color: lightblue;
  color: lightcoral;
}

/* Second Banner */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .bannenr-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  background-image: url(Images/Banner/b17.jpg);
  min-width: 700px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#sm-banner .banner-box2 {
  background-image: url(Images/Banner/b10.jpg);
}
#sm-banner h4 {
  color: black;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: black;
  font-size: 35px;
  font-weight: 600;
}
#sm-banner span {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner button {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
  padding: 15px 30px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid gray;
  outline: none;
  transition: 0.2s;
}

#sm-banner button:hover {
  background-color: bisque;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .bannenr-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  background-image: url(Images/Banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

#banner3 .banner-box2 {
  background-image: url(Images/Banner/b4.jpg);
  min-width: 35%;
}
#banner3 .banner-box3 {
  background-image: url(Images/Banner/b18.jpg);
  min-width: 30%;
}
#banner3 h2 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}
#banner3 h3 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

#newslatter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(Images/Banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: gray;
}

#newslatter h4 {
  font-size: 30px;
  font-weight: 700;
  color: wheat;
}
#newslatter p {
  font-size: 20px;
  font-weight: 300;
  color: white;
}

#newslatter p span {
  color: wheat;
}

#newslatter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
#newslatter button {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: greenyellow;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid gray;
  transition: 0.2s;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 22px;
  padding-bottom: 20px;
}
footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 25px;
}
footer .follow i {
  color: rebeccapurple;
  padding-right: 8px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid gray;
  border-radius: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: brown;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
footer .copyright p {
  font-size: 20px;
  font-weight: 200;
}

/********************** Meadia query****************************/
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #999;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.02);
    padding: 80px 0 0 60px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  .mobile {
    display: flex;
    align-items: center;
  }
  .mobile i {
    color: black;
    font-size: 30px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
    font-size: 27px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 30vh;
  }
  #sm-banner .bannenr-box {
    padding: 30px;
    min-width: 100%;
    height: 40vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .bannenr-box {
    min-width: 30%;
  }
  #newslatter .form {
    width: 70%;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 35px;
  }
  #banner3 {
    display: flex;
    justify-content: center;
    padding: 0 80px;
  }
  #banner {
    width: 100%;
    height: 20vh;
  }

  /* Single Page product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
}
/* ---------------------------------------------------------------------------------------------- */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#page-header {
  background-image: url(Images/Banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
}

#page-header h2,
#page-header p {
  color: white;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: rgb(53, 87, 75);
  padding: 15px 20px;
  border-radius: 4px;
  color: aliceblue;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 40px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 20px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 30px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  color: black;
  background-color: greenyellow;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid gray;
}
#prodetails .single-pro-details span {
  line-height: 25px;
  font-size: 18px;
}
